
.daviz-edit-fieldset {
  padding: 2em 2em 1em 1em;
}

.eea-exhibit-group-advanced {
  border: 1px dotted #ccc;
  padding: 1em;
  margin: 0 0.5em;
}

.daviz-view-edit .field input[type="text"][name$=".title"] {
  height: auto;
}

.daviz-view-edit .btn-advanced-settings,
.daviz-facet-edit .btn-advanced-settings {
  cursor: pointer;
}
