/* Exhibit custom CSS */

.tab-daviz-tabular span {
    background: url("../../++resource++eea.exhibit.tabular.png") no-repeat;
}

.tab-daviz-tile span {
    background: url("../../++resource++eea.exhibit.tile.png") no-repeat;
}

.tab-daviz-map span {
    background: url("../../++resource++eea.exhibit.map.png") no-repeat;
}

.tab-daviz-timeline span {
    background: url("../../++resource++eea.exhibit.timeline.png") no-repeat;
}

.exhibit-text-facet {
  width: 80%;
}

span.exhibit-facet-header-title {
  display: block;
  font-weight: normal;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.6;
  text-shadow: 1px 1px 1px #555;
  background-color: #777C1F;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b1c748), to(#777c1f));
  background-image: -webkit-linear-gradient(center top , #b1c748, #777c1f);
  background-image: -moz-linear-gradient(center top , #b1c748, #777c1f);
  background-image: -ms-linear-gradient(center top , #b1c748, #777c1f);
  background-image: -o-linear-gradient(center top , #b1c748, #777c1f);
  box-shadow: 0px 2px 2px #888;
  max-height: 25px;
  overflow: hidden;
  margin-bottom: 0;
  text-align: left;
}

div div.exhibit-facet-body {
  background: #F3F3F3;
  border: none;
}

div.exhibit-text-facet {
  text-align: center;
}

div.exhibit-text-facet input[type=text] {
  width: 98%;
  font-size: 16px;
  height: 22px;
  padding: 5px;
  border-color: #B1C748;
  -webkit-box-shadow: 1px 1px 3px #DFDFDF;
  -moz-box-shadow: 1px 1px 3px #DFDFDF;
  -ms-box-shadow: 1px 1px 3px #DFDFDF;
  -o-box-shadow: 1px 1px 3px #DFDFDF;
  box-shadow: 1px 1px 3px #DFDFDF;
}

div.exhibit-viewPanel {
  width: 99%;
}

div div.exhibit-facet-body {
  overflow-x: hidden;
  overflow-y: auto;
}

div div.exhibit-facet-header-filterControl {
  width: 4em;
  text-align: right;
}
