/* Exhibit custom CSS */

.tab-daviz-tabular span {
  background: url("../../++resource++eea.exhibit.tabular.png") no-repeat;
}

.tab-daviz-tile span {
  background: url("../../++resource++eea.exhibit.tile.png") no-repeat;
}

.tab-daviz-map span {
  background: url("../../++resource++eea.exhibit.map.png") no-repeat;
}

.tab-daviz-timeline span {
  background: url("../../++resource++eea.exhibit.timeline.png") no-repeat;
}

.exhibit-text-facet {
  width: 80%;
}

span.exhibit-cloudFacet-value,
a.exhibit-facet-value-link,
a.exhibit-facet-value-link:visited,
#content a.exhibit-facet-value-link,
#content a.exhibit-facet-value-link:visited {
  /*color: #95B229*/
}

span.exhibit-cloudFacet-value {
  color: #427597;
}

.exhibit-cloudFacet-body {
  text-align: center;
}

.exhibit-facet-header-filterControl {
  padding: 0.5em 0;
}

img.exhibit-facet-header-collapse {
  float: left;
  padding: 0.9em 0.5em;
  background-color: #777C1F;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b1c748), to(#777c1f));
  background-image: -webkit-linear-gradient(center top , #b1c748, #777c1f);
  background-image: -moz-linear-gradient(center top , #b1c748, #777c1f);
  background-image: -ms-linear-gradient(center top , #b1c748, #777c1f);
  background-image: -o-linear-gradient(center top , #b1c748, #777c1f);
  box-shadow: 0px 2px 2px #888;
}

span.exhibit-flowingFacet-header-title,
span.exhibit-cloudFacet-header-title,
span.exhibit-facet-header-title {
  display: block;
  font-weight: normal;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.6;
  text-shadow: 1px 1px 1px #555;
  background-color: #777C1F;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b1c748), to(#777c1f));
  background-image: -webkit-linear-gradient(center top , #b1c748, #777c1f);
  background-image: -moz-linear-gradient(center top , #b1c748, #777c1f);
  background-image: -ms-linear-gradient(center top , #b1c748, #777c1f);
  background-image: -o-linear-gradient(center top , #b1c748, #777c1f);
  box-shadow: 0px 2px 2px #888;
  max-height: 25px;
  overflow: hidden;
  margin-bottom: 0;
  text-align: left;
}

div div.exhibit-facet-body {
  background: #F3F3F3;
  border: none;
}

div.exhibit-text-facet {
  text-align: center;
}

div.exhibit-text-facet input[type=text] {
  width: 98%;
  font-size: 16px;
  padding: 5px;
  border-color: #B1C748;
  -webkit-box-shadow: 1px 1px 3px #DFDFDF;
  -moz-box-shadow: 1px 1px 3px #DFDFDF;
  -ms-box-shadow: 1px 1px 3px #DFDFDF;
  -o-box-shadow: 1px 1px 3px #DFDFDF;
  box-shadow: 1px 1px 3px #DFDFDF;
}

div.exhibit-viewPanel {
  width: 99%;
}

div div.exhibit-facet-body {
  overflow-x: hidden;
  overflow-y: auto;
}

div div.exhibit-facet-header-filterControl {
  width: 4em;
  text-align: right;
}

/* Table listing */
.exhibit-viewPanel table.listing td.listingCheckbox,
.exhibit-viewPanel table.listing th.listingCheckbox {
  text-align: center;
}

.exhibit-viewPanel table.listing {
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-collapse: collapse;
  border-spacing: 0px;
}

.exhibit-viewPanel table.listing .top {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.exhibit-viewPanel table.listing th {
  text-align: left;
  color: #666;
  border: 0.1em solid #e7e7e7;
  border-style: solid solid none;
  background: #ddd;
}

.exhibit-viewPanel table.listing tr.odd th {
  border: 0.1em solid #fff;
  border-style: solid solid none none;
}

.exhibit-viewPanel table.listing tbody th {
  font-weight: bold;
}

.exhibit-viewPanel table.listing tbody tr {
  text-align:left;
}

.exhibit-viewPanel table.listing tbody tr.odd {
  background: #eee;
}

.exhibit-viewPanel table.listing tbody tr td {
  background: transparent;
}

.exhibit-viewPanel table.listing tbody tr.odd td {
  background: #eee;
}

.exhibit-viewPanel table.listing td {
  border-right: 1px solid #ddd;
}

.exhibit-viewPanel table.listing td {
  line-height: 2em;
}

.exhibit-viewPanel table.listing a {
  border: none;
  display: inline-block;
  border-bottom: none !important;
}

.exhibit-viewPanel table.listing td.draggable {
  text-shadow: White 1px 1px 1px;
  background: #ddd !important;
  border-bottom: 1px solid white;
  padding: 0.4em 0.4em 0 0.5em;
}

#daviz-view .exhibit-bookmarkWidget-popup {
  display: none;
}

.daviz-facets .exhibit-text-facet {
  width: 97%;
}